@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

::-moz-selection { /* Code for Firefox */
    color: red;
  }
  
  ::selection {
    color: red;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(32, 32, 32);
    font-family: "Roboto" ,sans-serif;
}

a {
    text-decoration: none;
}

section {
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    display: flex;
    overflow: hidden;
}

/* NAVBAR */

.navbar {
    top: 0;
    left: 0;
    height: 100vh;
    max-width: 40%;
    display: flex;
    align-items: center;
    position: relative;
}

.nav {
    height: 100vh;
    width: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    background-color: white;
    border-left: 2px solid rgb(248, 248, 248);
}

.container {
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: red;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
  

#nav-extention {
    z-index: 1;
    position: relative; 
    padding: 40px 80px;
    height: 100vh;
    width: 85vh;
    right: 85vh;
    transition: 1s;
}

.tab {
    overflow: hidden;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1.2em;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: rgb(245, 245, 245);
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    border-bottom: 2px solid red;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 20px 12px;
    border-top: none;
  }


/* Landing Page */


#landing {
    position: relative;
    padding-left: 100px;
    top: 0;
    right: 85vh;
    z-index: -1;
    height: 100vh;
    min-width: 100%; 
    display: flex;
    align-items: center;
    transition: 1s;
}

.text-wrapper {
    margin: 0 80px;
}

#name{
    font-size: 1.4em;
}

#designation{
    font-weight: 400;
    font-size: 4.6em;
    letter-spacing: -2px;
}

.heading {
    font-size: 2.8em;
}

.content {
    padding-top: 40px;
    line-height: 30px;
}

#resume {
    color: grey;
    text-decoration: underline !important;
}

#work-1 {
    background-image: url(../img/ARC.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-overlay {
    top: 0;
    left: 0;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-overlay:hover {
    background-color: black;
    opacity: 0.85;
}

#text-overlay {
    display: none;
    color: white;
    font-size: 3em;
    padding: 20px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}